<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<%- include('./element/head.ejs') %>

<body class="stretched">


  <!-- Document Wrapper=============================================-->
  <div id="wrapper">



    <!-- Header
		============================================= -->
    <%-include('./element/navbar.ejs') %>
  
    <!-- Slider
		============================================= -->
    <%- body %>
    <!-- Footer
    <%- include('./element/modal-login.ejs') %>
		============================================= -->
    <%- include('./element/footer.ejs') %>

  </div><!-- #wrapper end -->

  <!-- Go To Top
	============================================= -->
  <div id="gotoTop" class="uil uil-angle-up"></div>

  <!-- JavaScripts
	============================================= -->
  <script src="/admin/plugins/jquery/jquery.min.js"></script>
  <script src="/admin/plugins/jquery-ui/jquery-ui.min.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/frontend/dist/js/plugins.min.js"></script>
  <script src="/frontend/dist/js/functions.bundle.js"></script>
  
  <script src="/frontend/dist/js/notification.js"></script>
  <script src="/frontend/dist/js/js_frontend.js"></script>
  <script src="/frontend/dist/js/login_register.js"></script>
  <script src="/frontend/dist/js/logout_account.js"></script>
  <script src="/frontend/dist/js/signup_account.js"></script>
  <script src="/frontend/dist/js/notification_discount.js"></script>
  <script src="/javascripts/my.js"></script>
</body>

</html>