<% linkPrefix = 'admin' %>

<div class="row mb-2">
  <div class="col-sm-6">
    <h1 class="m-0">Danh mục sản phẩm</h1>
  </div>
</div>
<div class="card card-info card-outline">
  <div class="card-header">
    <h6 class="card-title">Search & Filter</h6>
    <div class="card-tools">
      <button
        type="button"
        class="btn btn-tool"
        data-card-widget="collapse"
        data-toggle="tooltip"
        title="Collapse"
      >
        <i class="fas fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="row justify-content-between">
      <div class="mb-1">
        <div class="btn-search">
          <% countStatus.forEach(item => { %>
          <a href="/admin/item?status=<%= item.link %>">
            <button type="button" class="btn <%= item.class %>">
              <span><%= item.name + "(" + item.countStatus + ")" %></span>
            </button>
          </a>
          <% }) %>
        </div>
      </div>
      <div class="mb-1">
        <form action="/admin/item" method="get">
          <div class="input-group">
            <input
              type="text"
              class="form-control form-control-sm"
              name="keyword"
              value="<%= searchTerm %>"
              placeholder="Search for..."
              style="min-width: 300px"
            />
            <input type="hidden" name="status" value="<%= status %>" />
            <div class="input-group-append">
              <a type="button" class="btn btn-sm btn-danger" href="/admin/item"
                >Clear</a
              >
              <button type="submit" class="btn btn-sm btn-info" id="btn-search">
                Search
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Content -->
<form
  action="/admin/item/multipleAction"
  method="post"
  name="multipleForm"
  id="multiForm"
>
  <div class="card card-info card-outline">
    <div class="card-header">
      <h4 class="card-title">List</h4>
      <div class="card-tools">
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-info"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            Change Status
          </button>
          <div class="dropdown-menu" role="menu">
            <button
              type="button"
              onClick=""
              class="dropdown-item"
              data-toggle="modal"
              data-target="#modal-success"
            >
              Change to Active
            </button>
            <div class="dropdown-divider"></div>
            <button
              type="button"
              onClick=""
              class="dropdown-item"
              data-toggle="modal"
              data-target="#modal-danger"
            >
              Change to Inactive
            </button>
          </div>
        </div>
        <a
          href="/admin/item/form"
          class="btn btn-warning"
          style="background-color: #f0ad4e; color: white; font-weight: 500"
          >Add New</a
        >
        <button
          type="button"
          class="btn btn-danger"
          onClick=""
          data-toggle="modal"
          data-target="#modal-danger"
        >
          <i class="fas fa-trash-alt"></i>Delete Multi
        </button>
      </div>
      <input type="hidden" name="action" id="inputHiddenAll" value="" />
    </div>
    <div class="card-body">
      <table
        class="table table-bordered table-hover text-nowrap btn-table mb-0"
      >
        <thead>
          <tr>
            <th class="text-center">
              <div class="custom-control custom-checkbox">
                <input
                  class="custom-control-input cbAll"
                  type="checkbox"
                  id="check-all"
                />
                <label for="check-all" class="custom-control-label"></label>
              </div>
            </th>
            <th class="text-center">#</th>
            <th class="text-center">Name</th>
            <th class="text-center">Status</th>
            <th class="text-center">Ordering</th>
            <th class="text-center">Image</th>
            <!-- Added column for image -->
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <% if (items && items.length) { %> <% items.forEach((item, index) => {
          %>
          <tr>
            <td class="text-center">
              <div class="custom-control custom-checkbox">
                <input
                  class="custom-control-input"
                  type="checkbox"
                  name="cid"
                  id="check1"
                  value="1"
                />
                <label for="check1" class="custom-control-label"></label>
              </div>
            </td>
            <td class="text-center">
              <%= (currentPage - 1) * 10 + index + 1 %>
            </td>
            <td class="text-center"><span><%= item.name %></span></td>
            <td class="text-center position-relative">
              <a
                href="#"
                class="rounded-circle btn btn-sm btn-success update-status-btn"
                data-id="<%= item._id %>"
              >
                <i
                  class="fas <%= item.status === 'active' ? 'fa-check' : 'fa-times' %>"
                  data-status="<%= item.status %>"
                ></i>
              </a>
            </td>
            <td class="text-center position-relative">
              <input
                type="number"
                name="items-ordering"
                value="<%= item.ordering %>"
                class="text-center ordering"
              />
            </td>
            <td class="text-center">
              <% if (item.imageUrl) { %>
              <img
                src="<%= item.imageUrl %>"
                alt="Item Image"
                class="item-image"
                style="max-width: 100px; max-height: 100px"
              />
              <% } %>
            </td>

            <td class="text-center">
              <a
                href="/admin/item/form/<%= item._id %>"
                class="rounded-circle btn btn-sm btn-info"
                title="Edit"
              >
                <i class="fas fa-pencil-alt"></i>
              </a>
              <a
                href="#"
                class="rounded-circle btn btn-sm btn-danger deleteBtn"
                data-id="<%= item._id %>"
              >
                <i class="fas fa-trash-alt"></i>
              </a>
            </td>
          </tr>
          <% }); %> <% } else { %>
          <tr>
            <td colspan="7">
              <h1 class="text-center text-secondary mt-5">
                No items found in the database
              </h1>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="card-footer clearfix">
      <ul class="pagination pagination-sm m-0 float-right">
        <% for (let i = 1; i <= totalPages; i++) { %>
        <li class="page-item <%= currentPage === i ? 'active' : '' %>">
          <a
            class="page-link"
            href="/admin/item?page=<%= i %>&status=<%= status %>&keyword=<%= searchTerm %>"
            ><%= i %></a
          >
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</form>
<!-- Modal -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Confirm delete</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">Bạn có chắc chắn muốn xóa mục này không?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Hủy
        </button>
        <button type="button" class="btn btn-danger" id="confirmDeleteBtn">
          Xóa
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    let btnCheckAll = $("#checkAll");
    let btnCheck = $('input[name="checkItem"]');

    // button check all has been checked
    btnCheckAll.change(function () {
      const isChecked = btnCheckAll.prop("checked");
      btnCheck.prop("checked", isChecked);
      disableSubmit();
    });
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Lưu trữ ID của mục cần xóa
    let itemIdToDelete;

    // Khi nút xóa được nhấp
    document.querySelectorAll(".deleteBtn").forEach((button) => {
      button.addEventListener("click", function (event) {
        event.preventDefault();
        itemIdToDelete = this.getAttribute("data-id");
        $("#deleteModal").modal("show");
      });
    });

    // Khi nút xác nhận xóa trong modal được nhấp
    document
      .getElementById("confirmDeleteBtn")
      .addEventListener("click", function () {
        if (itemIdToDelete) {
          window.location.href = `/admin/item/delete/${itemIdToDelete}`;
        }
      });
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll(".update-status-btn").forEach((button) => {
      button.addEventListener("click", function (event) {
        event.preventDefault();
        const itemId = this.getAttribute("data-id");
        fetch(`/admin/item/update-status/${itemId}`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.success) {
              const icon = this.querySelector("i");
              icon.classList.toggle("fa-check", data.status === "active");
              icon.classList.toggle("fa-times", data.status === "inactive");
            } else {
              alert("Error updating status");
            }
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      });
    });
  });
</script>
