<% const collection = "product"; const linkPrefix = ''; const linkThumb = ''; %>
<% const isEditing = item && item._id; %>
<% const formAction = `/admin/${collection}/form`; %>

<div class="card card-info card-outline">
  <form action="<%= formAction %>" method="POST" enctype="multipart/form-data" class="mb-0">
    <input type="hidden" name="id" value="<%= item._id || '' %>" />
    <div class="card-body">
      <h1><%= isEditing ? 'Edit' : 'Add' %> - Form</h1>

      <% if (errors && errors.length > 0) { %>
      <div class="alert alert-danger">
        <ul>
          <% errors.forEach(error => { %>
          <li><%= error.msg %></li>
          <% }); %>
        </ul>
      </div>
      <% } %>

      <!-- Name Field -->
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label text-sm-right required">Name</label>
        <div class="col-xs-12 col-sm-8">
          <input type="text" id="name-input-form" name="name" class="form-control form-control-sm" value="<%= item.name || '' %>" />
        </div>
      </div>

      <!-- Price Field -->
      <div class="form-group row">
        <label for="price" class="col-sm-2 col-form-label text-sm-right required">Price</label>
        <div class="col-xs-12 col-sm-8">
          <input type="number" step="0.01" name="price" class="form-control form-control-sm" value="<%= item.price || '' %>" />
        </div>
      </div>
      <div class="form-group row">
        <label for="type_discount" class="col-sm-2 col-form-label text-sm-right">Choose discount</label>
        <div class="col-xs-12 col-sm-8">
          <select id="type_discount" name="type_discount" class="custom-select custom-select-sm" >
            <option value="">Choose option discount</option>
            <option value="discount" <%= item.type_discount === "discount" ? "selected" : '' %>>Discount</option>
            <option value="price_discount" <%= item.type_discount === "price_discount" ? "selected" : '' %>>Price discount</option>
          </select>
        </div>
      </div>

      <!-- Discount Field -->
      <div class="form-group row">
        <label for="discount" class="col-sm-2 col-form-label text-sm-right">Discount</label>
        <div class="col-xs-12 col-sm-8">
          <input type="number" step="0.01" name="discount" class="form-control form-control-sm" value="<%= item.discount || 0 %>" />
        </div>
      </div>

      <div class="form-group row">
        <label for="discount" class="col-sm-2 col-form-label text-sm-right">Price discount</label>
        <div class="col-xs-12 col-sm-8">
          <input type="number" step="0.01" name="price_discount" class="form-control form-control-sm" value="<%= item.price_discount || 0 %>" />
        </div>
      </div>

      <!-- Short Description Field -->
      <div class="form-group row">
        <label for="short_description" class="col-sm-2 col-form-label text-sm-right">Short Description</label>
        <div class="col-xs-12 col-sm-8">
          <textarea name="short_description" id="short_description" class="form-control form-control-sm"><%= item.short_description || '' %></textarea>
        </div>
      </div>

      <!-- Details Product Field -->
      <div class="form-group row">
        <label for="details_product" class="col-sm-2 col-form-label text-sm-right">Details Product</label>
        <div class="col-xs-12 col-sm-8">
          <textarea name="details_product" id="details_product" class="form-control form-control-sm"><%= item.details_product || '' %></textarea>
        </div>
      </div>

      <!-- Category ID Field -->
      <div class="form-group row">
        <label for="category_id" class="col-sm-2 col-form-label text-sm-right required">Category</label>
        <div class="col-xs-12 col-sm-8">
          <select id="category_id" name="category_id" class="custom-select custom-select-sm">
            <option value="">Choose Category</option>
            <% categories.forEach(category => { %>
            <option value="<%= category._id %>" <%= item.category_id && item.category_id.toString() === category._id.toString() ? "selected" : '' %>><%= category.name %></option>
            <% }) %>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="status" class="col-sm-2 col-form-label text-sm-right">Status</label>
        <div class="col-xs-12 col-sm-8">
          <select id="status" name="status" class="custom-select custom-select-sm">
            <option value="">Choose Status</option>
            <option value="active" <%= item.status === "active" ? "selected" : '' %>>Active</option>
            <option value="inactive" <%= item.status === "inactive" ? "selected" : '' %>>Inactive</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="ordering" class="col-sm-2 col-form-label text-sm-right required">Ordering</label>
        <div class="col-xs-12 col-sm-8">
          <input type="text" name="ordering" class="form-control form-control-sm" value="<%= item.ordering || '' %>" />
        </div>
      </div>
      <!-- Is Special Field -->
      <div class="form-group row">
        <label for="isSpecial" class="col-sm-2 col-form-label text-sm-right">Is Special</label>
        <div class="col-xs-12 col-sm-8">
          <input type="checkbox" id="isSpecial" name="isSpecial" <%= item.isSpecial ? "checked" : '' %> />
        </div>
      </div>

      <!-- Image Upload Field for Main Image -->
      <div class="form-group row">
        <label for="image" class="col-sm-2 col-form-label text-sm-right">Main Image</label>
        <div class="col-xs-12 col-sm-8">
          <input type="file" name="image" class="form-control form-control-sm" id="image-input" />
          <% if (item.image) { %>
          <div id="mainImageContainer">
            <img id="main-image-preview" src="<%= item.image %>" alt="Product Main Image" style="max-width: 100px; max-height: 100px;" />
            <button id="deleteMainImageButton" class="btn btn-sm btn-danger" type="button">Delete Image</button>
          </div>
          <% } else { %>
          <div id="main-image-preview"></div>
          <% } %>
        </div>
      </div>

      <!-- Image Upload Field for Detail Images -->
      <div class="form-group row">
        <label for="images" class="col-sm-2 col-form-label text-sm-right">Detail Images</label>
        <div class="col-xs-12 col-sm-8">
          <input type="file" name="images" class="form-control form-control-sm" id="images-input" multiple />
          <div id="imageContainer">
            <% if (item.images && item.images.length > 0) { %>
            <% item.images.forEach((image, index) => { %>
            <div class="image-preview">
              <img src="<%= image %>" alt="Product Detail Image <%= index + 1 %>" style="max-width: 100px; max-height: 100px;" />
              <button type="button" class="btn btn-sm btn-danger deleteButton" data-index="<%= index %>">Delete</button>
            </div>
            <% }); %>
            <% } %>
          </div>
        </div>
      </div>
      <!-- Submit and Cancel Buttons -->
      <div class="card-footer">
        <div class="col-12 col-sm-8 offset-sm-2">
          <button type="submit" class="btn btn-sm btn-success mr-1"><%= isEditing ? "Update" : "Add" %></button>
          <a href="/admin/<%= collection %>" class="btn btn-sm btn-danger mr-1">Cancel</a>
        </div>
      </div>
  </form>
</div>
<script>
  document.getElementById('images-input').addEventListener('change', function(event) {
    const files = event.target.files;
    const imageContainer = document.getElementById('imageContainer');
    imageContainer.innerHTML = ''; // Xóa các preview trước đó

    Array.from(files).forEach((file, index) => {
      const reader = new FileReader();
      reader.onload = function(e) {
        const imageWrapper = document.createElement('div');
        imageWrapper.className = 'image-preview';

        const imgElement = document.createElement('img');
        imgElement.src = e.target.result;
        imgElement.style.maxWidth = '100px';
        imgElement.style.maxHeight = '100px';

        const deleteButton = document.createElement('button');
        deleteButton.className = 'btn btn-sm btn-danger deleteButton';
        deleteButton.textContent = 'Delete';
        deleteButton.type = 'button';

        deleteButton.addEventListener('click', function() {
          imageWrapper.remove();
        });

        imageWrapper.appendChild(imgElement);
        imageWrapper.appendChild(deleteButton);
        imageContainer.appendChild(imageWrapper);
      };
      reader.readAsDataURL(file);
    });
  });
 
</script>